<!DOCTYPE html>
<html lang="en">

<head>
    <%- include ('../partials/head.ejs')%>
        <link rel="stylesheet" href="../css/estilos-cart.css">
        <title>Carrito</title>
</head>

<body class="tipografia">
    <headerLogin class="encabezado">
        <p class="bh">B"H</p>
        <a href="/"><img src="/images/logotransp.png" alt="logo JABA" class="logoLogin" width="50%"></a>

        <button type="button" class="cerrarVentana">
            <i class="fa-solid fa-xmark"></i>
        </button>

        <h2 class="titulo">CARRITO DE SUSCRIPCIONES</h2>
    </headerLogin>
    <main>
        <section class="principal">
            <div class="carritoProd">
                <div class="carritoTypeDiv">
                    <i class=></i>
                    <i class="fa-solid fa-bag-shopping"></i>
                    <i class="fa-solid fa-house-chimney-window"></i>
                    <i class="fa-solid fa-person-chalkboard"></i>
                 
                    <i class="fa-solid fa-child-reaching"></i>
                    <i class="fa-solid fa-book"></i>
                    <p class="carritoType">Shiur/Clase/Charla</p>
                </div>
                <div class="carritoNameDiv">
                    <h2>Shiur Semanal de Tania</h2>
                </div>
                <div class="carritoDetailsDiv">
                    <div class="carritoDetail">22/Oct/2022</div>
                    <div class="carritoDetail">19hs</div>
                    <div class="carritoDetail">$600</div>
                </div>
                <br>
            </div>
            <br>
            <div class="carritoProd">
                <div class="carritoTypeDiv">
                    <i class="fa-solid fa-house-chimney-window"></i>
                    <p class="carritoType">Actividad Parejas</p>
                </div>
                <div class="carritoNameDiv">
                    <h2>Shiur Semanal de Tania</h2>
                </div>
                <div class="carritoDetailsDiv">
                    <div class="carritoDetail">22/Oct/2022</div>
                    <div class="carritoDetail">19hs</div>
                    <div class="carritoDetail">$600</div>
                </div>
                <br>
            </div>
            <br>
            <div class="carritoProd">
                <div class="carritoTypeDiv">
                    <i class="fa-solid fa-bag-shopping"></i>
                    <p class="carritoType">Jaguím/Festividades</p>
                </div>
                <div class="carritoNameDiv">
                    <h2>Shiur Semanal de Tania</h2>
                </div>
                <div class="carritoDetailsDiv">
                    <div class="carritoDetail">22/Oct/2022</div>
                    <div class="carritoDetail">19hs</div>
                    <div class="carritoDetail">$600</div>
                </div>
                <br>
            </div>

        </section>
        <section class="principal">
            <div class="carritoSubto">
                <p>Subtotal</p>
                <p>$1800</p>
            </div>
        </section>
    </main>
</body>

</html>