<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="css/styles.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css2?family=Questrial&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>

    <title>Bienvenidos a JABA</title>
</head>

<body>


    <header>
        <p class="b'h">B"H</p>
        <div class="logo"> <img src="/images/logotransp.png" alt="logo JABA" class="logo"></div>
        <section class="iconos">
            <div class="login"><a href=/login> <i class="far fa-user-circle"></i> </a></div>

            <div class="home"><a href=/index><i class="fas fa-home"></i></a></div>

            <div class="barrabusqueda"><input type="text" placeholder=></div>

            <div class="lupa"> <i class="fas fa-search"></i></div>

            <div class="register"><a href="/register"><i class="fas fa-address-card"></i></a></div>
        </section>

    </header>

</body>
<main>
    <nav class="botones">
        <ul class="categorias">
            <a href="">categoria</a>
            <a href="">categoria</a>
            <a href="">categoria</a>
            <a href="">categoria</a>
            <a href="">categoria</a>
            <a href="">categoria</a>
        </ul>
    <nav class="menu-cel"><i class="fas fa-bars"></i></nav>
    <section class="datos-semanales">
        <p class="semana">Semana Parshat Reé</p>
        <p class="semana">Horario encendido de Velas</p>
        <p class="semana">18:00hs</p>
        <img src="images/velas.webp" alt="velas" class="img-velas">
    </section>
    <section class="slider">
        <ul>
            <div class="social">
                <li><img src="images/actividad.jpg" alt="">
              <div class="txt"> <h4> Experimeta, disfruta, conocé </h4>
                <p> "Actividades sociales, para compartir un espacio ameno entre amigos, en un marco de Iahadut"</p>
            </div>   </li>       
            </div>
            <div class="estudio">
            <li><img src="images/estudio-con-rab.jpg" alt="">
            <div class="txt"><h4>Alimenta tu Neshamá</h4>
            <p>"Progamas de estudios pensados para cada uno en particular.
                Participá como te sea mas cómodo, online o presencial, en grupo o personalizado. "
            </p>
        </div>  </li>
            </div>
            <div class="jupa">
                <li><img src="images/jupa.jpg" alt="">
               <div class="txt"><h4> "Haz de tu hogar una morada para Hashem"</h4>
                <p> Te preparamos para que llegues a este dia tan especial con santidad y plenitud.
                  Los acompañamos en la formacion de su hogar con charlas y actividades exclusivas para parejas como ustedes.
                </p> 
            </div> </li>
            </div>
            <div class="jaguim">
                <li><img src="images/roshana.webp" alt="">
                <div class="txt"><h4>viaja por el año</h4>
                <p> LLega preparado a cada festividad. Historia, costumbres, fechas, recetas..    </p>
            </div> </li>
            </div>
            <div class"shiur">
                <li><img src="images/shiur.jpg" alt="">
                <div class="txt"><h4>Rama femenina</h4>
                <p> Seccion inspirada exclusivamente para ellas. Estudio, paseos, cocina, arte..</p>
            </div>   </li> 
            </div>
        </ul>


    </section>


</main>

<footer>
    <div class="footer-bar-left">
        <div class="iconofoot-whatsapp">
            <!--   <i class="fab fa-whatsapp-square"></i> -->
            <i class="fab fa-whatsapp"></i>
        </div>
        <div class="iconofoot">
            <i class="fas fa-phone-alt"></i>
           <!--  <i class="fas fa-phone-square-alt"></i> -->
        </div>
        <div class="iconofoot">
            <i class="fas fa-envelope"></i>
        </div>
        <div class="iconofoot-map-marker">
            <i class="fas fa-map-marker-alt"></i>
        </div>
    </div>
    <div class="footer-bar-rigth">
        <div class="iconofoot">
            <!-- <i class="fab fa-instagram-square"></i> -->
            <i class="fab fa-instagram"></i>
            
        </div>
        <div class="iconofoot">
            <i class="fab fa-twitter"></i>
        </div>
        <div class="iconofoot">
            <i class="fab fa-facebook-square"></i>
        </div>
        <div class="iconofoot">
            <i class="fab fa-facebook-messenger"></i>
        </div>  
    </div>
</footer>

</html>