<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/estilos.css">
    <title>Ingreso</title>
</head>

<body>
    <header>
        <img src="/images/logotransp.png" alt="logo JABA" class="logo">
        <button type="button" class="cerrarVentana">X</button>
    </header>


    - INGRESO A JABA CENTRADO
    MAIN ES EL CUERPO DEL LOGIN
    ---USUARIO O CORREO ELECTRONICO
    CAMPO PARA LLENAR
    ---CONTRASE;A
    CAMPO PARA LLENAR
    Olvidaste la contrasenia? link a derecha
    --- boton de ingresar, abajo centrado
    --- recordar mis datos, boton a izquierda
    FOOTER
    CUADRO CON DOS LINEAS
    ---AUN NO ESTAS REGISTRADO
    ---BOTON: CREA TU CUENTA AQUI
</body>

</html>