<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ingreso</title>
</head>
<body>
    B'H HOLA MUNDO
-- HEADER
    logo y cuadradito para cerrar la pantalla en linea -->
- INGRESO A JABA  CENTRADO
    MAIN ES EL CUERPO DEL LOGIN
    ---USUARIO O CORREO ELECTRONICO
    CAMPO PARA LLENAR
    ---CONTRASE;A
    CAMPO PARA LLENAR
    Olvidaste la contrasenia? link a derecha
    --- boton de ingresar, abajo centrado
    --- recordar mis datos, boton a izquierda
 FOOTER
CUADRO CON DOS LINEAS
---AUN NO ESTAS REGISTRADO
---BOTON: CREA TU CUENTA AQUI
</body>
</html>