/*Codigos de colores: Amarillo: #fed522 Gris: #a4a5a7 Bordo: #894243

/*tipografias
Questrial

<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Questrial&display=swap" rel="stylesheet">

font-family: 'Questrial', sans-serif;

agregar normalize.css?

agregar https://fontawesome.com/icons?d=gallery&m=free

/*ESTILOS DE LA PAGINA DE LOGIN*/

/*ESTILOS DEL HEADER*/
header {
    display: flex;
}
.logo{
    width: 30%;
    justify-items: center;
}

.errarVentana{

}
