* {
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
    font-family: questrial;
}
main{
    padding: 15px;
}
.detalleArt {
    width: 90%;
    max-height: 50%;
    margin: auto;
}
.titulo{
    padding-bottom: 10px;
}
.articulo{
    width: 100%;
    padding-bottom: 15px;
}