* {
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
    font-family: questrial;
}

footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #a4a5a7;
    height: 70px;
    width: 100%;
    border-top: 4px #fed522 solid;
    font-size: 30px;
    position: relative;
}

.info-gral {
    display: none;
}

.footer-bar-left {
    width: 50%;
    text-align: left;
    padding-left: 5px;
    display: flex;
}

.footer-bar-left-textos {
    display: none;
}

.footer-bar-rigth {
    width: 50%;
    padding-right: 5px;
    display: flex;
    justify-content: end;
}

.iconos-redes-p {
    display: none;
    color: #4d4d4d;
}

i {
    color: #fed522;
    font-weight: solid;
    padding: 3px;
    border: black;
}

i:hover {
    color: #d3d3d3;
}

.iconofoot-left {
    background-color: #4d4d4d;
    border-radius: 50%;
    text-align: center;
    padding: 2px;
    margin: 2px;
    font-size: 12px;
}


.copyright {
    margin-top: 2px;
    position: absolute;
    bottom: 3px;
}

/*MEDIA QUERIES DE TABLET*/
@media (min-width : 481px) {


    footer {
        height: 100px;
        justify-content: stretch;
    }

    .iconofoot {
        margin-left: 4px;
    }

    .iconos-redes-p {
        width: 100%;
        height: 60%;
        display: flex;
        align-items: center;
        background-color: #4d4d4d;
        margin-left: 2px;
        padding-right: 2px;

    }

    .iconos-redes-p-texto {
        color: #fed522;
        padding-left: 2px;
        font-size: 10px;
    }

    .social-section {
        width: 50%;
        height: 50%;
        display: flex;
        align-items: center;
        flex-wrap: nowrap;
    }

    .footer-bar-left {
        width: 100%;
        height: 80%;
        flex-direction: column;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-around;
    }

    .footer-bar-rigth {
        width: 100%;
        height: 80%;
        flex-direction: column;
        flex-wrap: wrap;
        align-items: center;
        margin-right: 2px;
    }
}

/*MEDIA QUERIES DE LAPTOP/PC*/

@media (min-width : 769px) {

    .info-gral {
        display: block;
        width: 100%;
        max-width: 25%;
        height: 70%;
        background-color: #4d4d4d;
        margin-left: 2px;
        padding: 2px;
    }

    .info-gral p {
        color: #fed522;
        text-align: left;
        font-size: 10px;
        padding: 3px;
    }

}