/*ESTILOS DE LA PAGINA DE REGISTER*/

/*ESTILOS DEL BODY*/
* {
    font-family: 'Questrial', sans-serif;
    box-sizing: border-box;
}

body{
    background-color: rgba(77,77,77,0.03);
    color: #4b4b4b;
}

/*ESTILOS DEL HEADER*/
.bh {
    position: fixed;
    top: 12px;
    left: 12px;
    color: #4b4b4b;
}

.encabezado {
    margin: auto;

}

.cerrarVentana {
    position: fixed;
    top: 12px;
    right: 12px;
    border: 1px solid #a4a5a7;
    background-color: #fed522;
}

.logoRegister {
    width: 35%;
    display: block;
    margin: auto;
}

.titulo {
    text-align: center;
    margin-top: auto;
    padding-bottom: 20px;
}

/*ESTILOS DEL MAIN*/
.principal {
    background-color: #ffffff;
    width: 80%;
    margin: auto;
    padding: 25px 15px;
    font-size: small;
    margin-bottom: 25px;
    box-shadow: 0px 0px 10px  #a4a5a7;
    border-radius: 5px;
}
.formu1 {
   padding-bottom: 25px;
   width: 100%;
   display: block;
   border-radius: 5px;
}
.celda{
    width: 100%;
    display: block;
    padding: 5px
}
.formu2 {
    padding-bottom: 8px;
    width: 100%;
    display: block;
    border-radius: 5px;
 }
.olvido{
   text-align: right;
   padding-bottom: 17px;
}
.olvidolink{
    color: #fed522 !important;
}
.ingresar{
    width: 100%;
    display: block;
    text-align: center;
    padding: 25px 0;
    
}
.boton-ingresar{
    background-color: #fed522;
    border: none;
    padding: 10px;
    color: #ffffff;
    font-weight: bold;
    border-radius: 5px;
    width: 90%;
}
.boton-ingresar:hover {
    background-color: #fead22;
}

.boton-reset{
    background-color: #fed522;
    border: none;
    padding: 10px 15px;
    color: #ffffff;
    font-weight: bold;
    border-radius: 5px;
    width: 90% ;
}

.boton-reset:hover {
    background-color: #fead22;
}
.botones{
    display: flex;
    width: 100%;
    justify-content: center;
}

/*ESTILOS DEL FOOTER*/
.footer-register {
margin-top: 10px;
background-color: #ffffff;
width: 80%;
margin: auto;
padding:  15px;
font-size: small;
text-align: center;
box-shadow: 0px 0px 10px  #a4a5a7;
margin-bottom: 50px ;
}
.registro-link{
    display: block;
    background-color: #fed522;
    border: none;
    padding: 10px;
    width: 50%;
    color: #ffffff;
    font-weight: bold;
    margin: auto;
    border-radius: 5px;
    text-decoration: none ;
}
.registro-link:hover {
    background-color: #fead22;
}

@media (min-width:769px) {
    .principal {
        width: 50%;
    }
    .footer-register {
        width: 50%;
    }
    
    .logoRegister {
        width: 20%;
    }
}

@media (min-width:1280px) {
    .principal {
        width: 30%;
    }
    .footer-register {
        width: 30%;
    }
}