* {
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}


/*BODY*/

body {
    background-color: rgba(77, 77, 77, 0.03);
}

main {
    background-color: rgba(77, 77, 77, 0.03);
}

H1 {
    font-weight: bolder;
    font-style: oblique;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: rgba(77, 77, 77, 0.03);
    margin-bottom: 15px;
    margin-top: 15px;
}

/*SLIDER*/


.slider {
    width: 100%;
    overflow: hidden;
    height: 60vw;
    margin: 0px auto 0px;
    border: #a4a5a7 solid 2px;
    /* display: inline-block;*/
    justify-content: center;
    align-items: center;
    bottom: 20px;
      background-color: rgba(77, 77, 77, 0.03);
}

.slider ul {
    width: 500%;
    display: flex;
    animation-name: cambio;
    animation-duration: 20s;
    animation-iteration-count: infinite;
    animation-direction: infinite alternate ease-in-out;
    align-items: center
}

.slider li {
    width: 100%;
    height: 60vw;
    list-style: none;
    display: flex;
    
}

.slider li p {
    font-size: 15px;
}

.slider img {
    width: 45%;
    height: 75%;
    object-fit:scale-down;
    margin-bottom: 10px;
    position: relative;
    align-items: center
}

.slider ul li h4,
p {
    text-align: center;

}

/*******analizar txt********************/
.slider li .txt {
    width: 40%;
    display: flex;
    flex-direction: column;
    margin-left: 22px;
    margin-top: 3px;
    align-items: center;
    justify-content: center;
    position: relative;
    right: 20px;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 18px;
}

.ulSlider {
display: flex;
flex-direction: row ;
}

@keyframes cambio {
    0% {
        margin-left: 0%;
    }

    15% {
        margin-left: 0%;
    }

    20% {
        margin-left: -100%;
    }

    35% {
        margin-left: -100%;
    }

    40% {
        margin-left: -200%;
    }

    55% {
        margin-left: -200%;
    }

    60% {
        margin-left: -300%;
    }

    75% {
        margin-left: -300%;
    }

    80% {
        margin-left: -400%;
    }

    100% {
        margin-left: -400%;
    }

}

.datos-semanales2 {
    display: none;
}

.cronograma {
    display: none;
}

/* -----------------------scroll vertical (sin scroll)*/


.destacados-de-la-semana {
    margin-top: 30px;
    border: #894243 solid;
    width: 100%;
    background-color: #ffffff;
}

h3 {
    text-align: center;
    font-size: 20px;
    padding-top: 5px;
}

h6 {
    font-size: 15px;
}

.destacados-de-la-semana p {
    font-size: 12px;
    text-align: center
}

.info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    padding-left: 60px;
}

.curso1,
.curso2 {
    border: #f3ba0c solid 2px;
    margin-top: 15px;
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 90px;
   
}


.amasado img {
    width: 100px;
    height: 100%;
}


.curso img {
    width: 100px;
    height: 100%;
}

/*-----------------------------scroll fotos horozontal(sin scroll)--------------------*/

.scroll-fotos {
    margin-top: 20px;
    margin-bottom: 10px;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    width: 100%;
    height: 20vw;
    border-top: #a4a5a7 solid 2px;
    border-bottom: #a4a5a7 solid 2px;
    overflow: hidden;
}

.scroll-fotos img {
    width: 100%;
    height: 20vw;
    object-fit: cover;
}

.imgSlider {
    border-radius: 100%;
    box-shadow: #894243 ;

}





/*---------------------------------------footer---------------------------*/



/*-----------------------------------------medias-------------------------------------*/


@media (min-width:480px) {


    .contenedor-mayor {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        
    }

    .slider {
        width: 80%;
        flex-direction: row-reverse;
        background-image: url('../images/scroll.jpg'); 
        background-repeat: no-repeat;
        background-size:130%; 
        background-position: center;
    } 

    .lateral-izq {
        display: flex;
        flex-direction: row;
        margin-top: 40px;
    }

    .lateral-izq section {
        width: 33vw;
        height: 250px;
    }
.img-velas{
    display:none;
}
    .datos-semanales2 {
        display: flex;
        flex-direction: column;
        text-align: center;
        justify-content: center;
        border: #894243 solid;
        background-image: url('../images/velas.webp');
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;   
        width: 100%;     
    }

  
      

    .datos-semanales2 p {
        font-size: 15px;
        /*margin-bottom: 5px;*/
        bottom: 300px;
    }

    .semana-parshe {
        font-weight: bold;
    }


    .cronograma {
        display: flex;
        flex-direction: column;
        text-align: center;
        justify-content: center;
        border: #894243 solid;
        margin-bottom: 0px;
        background-image: url("../images/luaj.png");
        
    }

    .img-cronograma {
        width: 10%;
    }

    .destacados-de-la-semana {
        padding: 0%;
        margin-top: 0%;
    }

    .destacados-de-la-semana p {
        display: none;
    }

    .curso1,
    .curso2 {
        height: 40px;
        margin-top: 5px;

    }

    .destacados-de-la-semana h6 {
        font-size: 10px;
        ;
    }

    .destacados-de-la-semana h3 {
        padding-top: 10px;
        font-size: 15px;
    }
    
    .destacados-de-la-semana img {
        width: 50px;
       
    }
    
    .scroll-fotos img {
        width: 33%;
    }
    
}

/*-------------------------media deskptop-----------------------*/

@media (min-width:1200px) {

    /*
   .categorias {
        padding: 0%;
    }
.categorias a{
    padding-left: 10px;
    padding-right: 10px;
    font-size: 20px;
}*/
    .destacados-de-la-semana {
        border: #894243 solid;
        width: 25%;
        height: 20%;
        font-size: 12px;
    }

    .curso1,
    .curso2 {
        height: 45px;
        margin-top: 5px;
    }

    h6 {
        font-size: 15px;
        text-align: center;
        align-self: auto;
    }

    .info {
        padding-left: 20px;
        padding-right: 20px;
    }

    .contenedor-mayor {
        display: flex;
        flex-wrap: nowrap;
        flex-direction: row-reverse;
        max-height: 600px;
        max-width: 1300px;
        margin-bottom:50px ;
    }

    .slider {
        width: 65%;
        max-height: 600px;
        flex-direction: row-reverse;
        margin-left: 60px;
    }

    .lateral-izq {
        display: flex;
        flex-direction: column;
        max-height: 600px;
margin-left: 40px;
margin-top: 0%;
    }

    .lateral-izq section {
        width: 100%;
        height: 20vw;
    }


.scroll-fotos{
    max-height: 100vw;
}

    .scroll-fotos img {
        width: 20%;
        max-height:20vw;
    }

}