* {
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}

/*estilos home*/

/*HEADER*/

header {
    display: flex;
    justify-content: space-between;
    background-color: #a4a5a7;
    height: 100px;
    width: 100%;
    border-bottom: 4px #fed522 solid;
    position: relative;
}

p {
    top: 3px;
    left: 12px;
    color: #4b4b4b;
    font-size: 10px;
    font-family: questrial;
}

.logo {
    width: 170px;
    height: 170px;
    display: flex;
    flex-direction: row;
    position: absolute;
    padding-bottom:7px;
    z-index: 0;
    /*display:none;*/
}

.barrabusqueda {
    display: none;
}

.iconos {
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
    width: 200px;
    font-size: 30px;
}

.iconos i {
    color: #d3d3d3;
    margin-right: 5px;
}

.iconos i:hover {
    color: #fed522;
}


/*MAIN-header*/

.main-header{
    background-color: rgba(77, 77, 77, 0.03);  
}
.categorias a {
    text-decoration: none;
    /*margin-left:10px;*/
    border-left: solid #fed522 5px;
    padding: 10px;
    font-size: 20px;
    
}

.categorias {
    display: flex;
    justify-content: flex-end;
    background-color: #d3d3d3;
    margin-top: 8px;
    font-size: 15px;
    width: 100%;
    display: none;
}



.menu-cel i {
    color: #fed522;
    background-color: #d3d3d3;
    font-size: 30px;
    border: #a4a5a7 solid 1px;
    padding: 10px;
    margin-top: 8px;
    display: inline-flex;
    flex-direction:row-reverse;
    /*margin-left: 88%;
    width: 50px; */  
    width:100%;  /*para q ocupe todo el ancho de la fila*/
}



.datos-semanales {
    position: relative;
    display: inline-flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    margin-left: 50%;
    bottom: 53px;
    padding: 1px 3px 5px 5px;
    
}

.datos-semanales img {
    height: 50px;
    position: absolute;
    opacity: 50%;
    top: 2px;
    
}

.datos-semanales p {
    display: flex;
    flex-wrap: wrap;
    flex-direction:column;
    text-align: center;
    z-index: 5;
    color: #4d4d4d;
    left: 100px;
    bottom: 5px;
    padding-top: 5px;
    padding-left: 10px;
}

/*BODY*/

body {
    background-color: rgba(77, 77, 77, 0.03);
}
/*SLIDER*/


.slider {
    width: 70%;
    overflow: hidden;
    height:  100%;
    margin:0px auto 0px;
    border: #a4a5a7 solid 2px;
    justify-content: center;
    position: relative;
    bottom: 20px;
    /*padding-left:10px;
    padding-right: 10px;
    /*animation: cambio 20s infinite alternate ease-in-out;*/
}


.slider ul {
    width: 500%;
    display: flex;
}

.slider li {
    width: 100%;
    height: 100%;
    list-style: none;
    display: flex;
}

.slider img {
    width: 40%;
    height: 100%;
    object-fit: cover;
    margin-bottom: 10px;
    position:relative;
}

.slider ul li h4,
p {
    text-align: center;

}

.slider li .txt {
    width: 50%;
    display: flex;
    flex-direction:column;
    margin-left:22px;
    margin-top: 3px;
    align-items: center;
    justify-content:center;
    position:relative;
    right: 20px;
    padding-left: 10px;
    padding-right:10px ;
    
}


/*@keyframes cambio {
    0% {
        margin-left: 0%;
    }

    15% {
        margin-left: 0%;
    }

    20% {
        margin-left: -100%;
    }

    35% {
        margin-left: -100%;
    }

    40% {
        margin-left: -200%;
    }

    55% {
        margin-left: -200%;
    }

    60% {
        margin-left: -300%;
    }

    75% {
        margin-left: -300%;
    }

    80% {
        margin-left: -400%;
    }

    100% {
        margin-left: -400%;
    }

}*/


/* -----------------------scroll vertical (sin scroll)*/


.destacados-de-la-semana {
    margin-top: 10px;  /*cambie de 40 a 100*/
    border: #894243 solid;
    width: 100%;
    height: 30%;
    background-color: #ffffff;

}

h3 {
    text-align: center;
    font-size: 20px;
    justify-content: 5px;
}

h6 {
    font-size: 15px;
}

.destacados-de-la-semana p {
    font-size: 12px;
    text-align: center;
}

.info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    padding-left: 60px;
}

.curso1 {
    border: #f3ba0c solid 2px;
    margin-top: 15px;
    display: flex;
    flex-direction: row;
    width: 100%;
}

.amasado img {
    width: 100px;
    height: 100%;
}


.curso2 {
    border: #f3ba0c solid 2px;
    margin-top: 15px;
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: flex-start;
}

.curso img {
    width: 100px;
    height: 100%;
}

/*-----------------------------scroll fotos horozontal(sin scroll)--------------------*/

.scroll-fotos {
    margin-top: 50px;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    width: 100%;
    height: 50%;
    overflow: hidden;
}

.scroll-fotos img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}







/*---------------------------------------footer---------------------------*/



/*-----------------------------------------medias-------------------------------------*/


@media (min-width:500px) {

    .logo {
        width: 200px;
        height: 200px;
        top: -10px;
    }
    
    .categorias {
        display: flex;
        padding-bottom: 6px;
        padding-top: 6px;
        /*top:1px;*/
    }
    .categorias a{
        padding-left: 5px;
        padding-right: 5px;
        font-size: 15px;
    }
    
    .datos-semanales{
        display: none;
    }

    .menu-cel i {
        display: none;
    }

    .slider{
    width:60%;
    top:40px;
    flex-direction:row;
     justify-content:flex-end;
     left:100px;
}


    .destacados-de-la-semana {
        width: 35%;
    }
.destacados-de-la-semana p{
    display:none;
}
.destacados-de-la-semana h6{
    font-size:10px;
}

.destacados-de-la-semana img{
    width:70px;
}
    .scroll-fotos img {
        width: 33%;
    }

}

/*-------------------------media deskptop-----------------------*/

@media (min-width:1200px) {
    .categorias {
        /*font-size: 30px;*/
        padding: 0%;
    }
.categorias a{
    padding-left: 10px;
    padding-right: 10px;
    font-size: 20px;
}
    .destacados-de-la-semana {
        border: #894243 solid;
        width: 25%;
        height: 20%;
        font-size: 12px;
    }

    h6 {
        font-size: 15px;
        text-align: center;
    }

    /*.info {
        padding-left: 20px;
        padding-right: 20px;
    }*/

    .scroll-fotos img {
        width: 20%;
        max-height: 10%;
    }

}
