* {
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}

/*estilos home*/

/*HEADER*/

header {
    display: flex;
    justify-content: space-between;
    /*align-items: center;*/
    background-color: #a4a5a7;
    /*color:#ebebeb;*/
    height: 100px;
    width: 100%;
    border-bottom: 4px #fed522 solid;
    position: relative;
}

p {
    top: 3px;
    left: 12px;
    color: #4b4b4b;
    font-size: 10px;
    font-family: questrial;
}

.logo {
    width: 170px;
    height: 170px;
    display: flex;
    flex-direction: row;
    position: absolute;
    margin: 0%;
    z-index: 0;
    /*display:none;*/
}

.barrabusqueda {
    display: none;
}

.iconos {
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
    width: 200px;
    font-size: 30px;
}

.iconos i {
    color: #d3d3d3;
    margin-right: 5px;
}

.iconos i:hover {
    color: #fed522;
}

/*BODY*/

body {
    background-color: rgba(77, 77, 77, 0.03);
}

/*MAIN*/

.categorias a {
    text-decoration: none;
    /*margin-left:10px;*/
    border-left: solid #fed522 5px;
   padding: 10px;
}

.categorias {
    display: flex;
    justify-content: flex-end;
    background-color: #d3d3d3;
    margin-top: 8px;
    font-size: 15px;
    display: none;
}

  .menu-cel i {
    color: #fed522;
    background-color: #d3d3d3;
    font-size: 30px;
    border: #a4a5a7 solid 1px;
    padding:10px;
    margin-top: 8px;
    display: flex;
    justify-content:right;
}

.datos-semanales {
    position: relative;
    display: inline-flex;
    flex-direction:column;
    justify-content:flex-start;
    text-align: flex-start;
    margin-left:0px;
    margin-top: 20px;
    
}

.datos-semanales img {
    font-size: xx-small;
    height: 40px;
    position: absolute;
    opacity:90%;
    top: 20px;
    left: 35px;
}
 .semana p, h4{
    display: flex;
    flex-wrap: wrap;
    text-align:center;
    z-index: 5;
    color:#4d4d4d;
    right:40px;
    top:40px ;
}

/*SLIDER*/
/*

.slider {
    width: 80%;
    overflow: hidden;
    height:40% ;
    margin-top: 10px;
    border: #a4a5a7 solid 2px;
    /*border-radius: 70%;*/
   /* justify-content: center;
    position: relative;
    top: 60px;
    left:10% ;
    margin-right:10px;
}

.slider ul {
    width: 500%;
    display: flex;
    animation: cambio, alternate 20s infinite alternate linear;
    /*transform*/
}*/
/*
.slider li {
    width:  50%;
    height: 50%;
    list-style: none;
    display: flex;
    justify-content: space-between;
   
}

.slider img {
    width: 100%;
    height: 110%;
    object-fit: cover;
    align-items: stretchs;
    /*padding-right: 10px;*//*
    margin-bottom: 10px;
}

.slider ul li h4,
p {
    text-align: center;

}

.slider li .txt {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding-left: 10px;
    margin-top: 3px;
    align-items: center;
    justify-content:center;
    position: relative;
    left: 20px;
}*/

/*ESTILOS DEL FOOTER*/


/*

@keyframes cambio {
    0% {
        margin-left: 0;
    }

    15% {
        margin-left: 0;
    }

    20% {
        margin-left: -100;
    }

    35% {
        margin-left: -100;
    }

    40% {
        margin-left: -200;
    }

    55% {
        margin-left: -200;
    }

    60% {
        margin-left: -300;
    }

    75% {
        margin-left: -300;
    }

    80% {
        margin-left: -400;
    }

    100% {
        margin-left: -400;
    }

    ;
}*/

/* -----------------------scroll vertical (sin scroll)*/


.destacados-de-la-semana{
    margin-top: 40px;
    border:#894243 solid;
    width: 100%;
    height: 30%;
    background-color: #ffffff;
}
h3{
    text-align:center;
    font-size: 25px;
}
h6{
    font-size:20px;
}
.destacados-de-la-semana p{
    font-size: 15px;
}
.info{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 35px;
}
.curso1{
    border: #f3ba0c solid 2px;
    margin-top:15px;
    display: flex;
    flex-direction: row;
    width: 100%;
}
.amasado img{
    width:100px;
    height:100%;
}


.curso2{
    border: #f3ba0c solid 2px;
    margin-top: 15px;
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: flex-start;
}

.curso img{
    width:100px;
    height:100%;    
}

/*-----------------------------scroll fotos horozontal(sin scroll)--------------------*/

.scroll-fotos{
    margin-top: 50px;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    width: 100%;
    height: 50%;
    overflow: hidden;
}
.scroll-fotos img{
    width: 50%;
    min-height:15%;
    max-height: 40%;
    object-fit: cover;
}

marquee{
    direction: right;
    behavior: scroll;

}


    
/*---------------------------------------footer---------------------------*/



/*-----------------------------------------medias-------------------------------------*/


@media (min-width:500px){
    
    .logo{ 
    width: 200px;
    height: 200px;
    top:-10px;
    }
    .categorias{
        display:flex;
        padding-bottom: 5px;
        padding-top: 5px;
    }

/*.slider{
    height: 400px;
}*/

.menu-cel i{
    display: none;
}

}

.destacados-de-la-semana{
    width: 35%;
}
.scroll-fotos img{
    width: 33%;
}

}

/*-------------------------media deskptop-----------------------*/

@media (min-width:1200px){ 
    .categorias{
        font-size: 30px;
        padding: 0%;
    }
.destacados-de-la-semana{
    border:#894243 solid;
    width: 25%;
    height: 20%;
}

h6{
    font-size: 15px;
    text-align: center;
}
.destacados-de-la-semana{ 
    font-size: 12px;
}
.info{
    padding-left: 20px;
    padding-right:20px ;
}
 
.scroll-fotos img{
    width: 20%;
    max-height:10%;
}

 }

