<!DOCTYPE html>
<html lang="en">
    <%- include ('./partials/head.ejs')%>
    <link rel="stylesheet" href="../css/estilos-error.css">

    <title>Error</title>
</head>
<%- include ('./partials/header.ejs')%>
<%- include ('./partials/main-header.ejs')%>
<body>
    <header class="header">B'H ESPACIO PARA EL HEADER</header>
    <main class="main">
        <div class="caja-imagen1">
            <img src="/images/oy-vey-man.png" alt="oy-vey-man" class="oy-vey-man">
        </div>
        <div class="caja-texto">
            <div class="circulo">
                <h1>404 PAGINA NO ENCONTRADA</h1>
                <p>El enlace seleccionado no está disponible.
                    <br>
                    Por favor, verifique e intente nuevamente.
                </p>
            </div>
        </div>
        <div class="caja-imagen2">
            <img src="/images/oy-vey-woman.png" alt="oy-vey-woman" class="oy-vey-woman">
        </div>
    </main>


    
</body>
<%- include ('./partials/footer.ejs')%>
</html>