<!DOCTYPE html>
<html lang="en">

 <!--    <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
   
    <link rel="stylesheet" href="../css/cssicons/all.css">   
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css2?family=Questrial&display=swap" rel="stylesheet"> -->

    <%- include ('./partials/head.ejs')%>

    <link rel="stylesheet" href="../css/styles.css">
    <title>Bienvenidos a JABA</title>

</head>
<body>


    <header>
       <!--  <section class "header-principal">  -->

            <p class="b'h">B"H</p>
            <div class="logo"> <img src="/images/logotransp.png" alt="logo JABA" class="logo"></div>
            <section class="iconos">
                <div class="login"><a href=/login> <i class="far fa-user-circle"></i> </a></div>
                
                <div class="home"><a href=/index><i class="fas fa-home"></i></a></div>
                
                <div class="barrabusqueda"><input type="text" placeholder=></div>
                
                <div class="lupa"> <i class="fas fa-search"></i></div>
                
                <div class="register"><a href="/register"><i class="fas fa-address-card"></i></a></div>
            </section>
        <!-- </section> -->
    </header>
 
</body>
<main>
        <nav class="botones">
            <ul class="categorias">
                <a href="">categoria</a>
                <a href="">categoria</a>
                <a href="">categoria</a>
                <a href="">categoria</a>
                <a href="">categoria</a>
                <a href="">categoria</a>
            </ul>
            <nav class="menu-cel"><i class="fas fa-bars"></i></nav>
            <section class="datos-semanales">
                <img src="images/velas.webp" alt="velas" class="img-velas">
                <p class="semana">Semana Parshat Reé</p>
                <p class="semana">Horario encendido de Velas</p>
                <p class="semana">18:00hs</p>
            </section>

        <section class="slider">
            <ul>
                <div class="social">
                    <li><img src="images/actividad.jpg" alt="">
                        <div class="txt">
                            <h4> Experimeta, disfruta, conocé </h4>
                            <p> "Actividades sociales, para compartir un espacio ameno entre amigos, en un marco de
                                Iahadut"</p>
                        </div>
                    </li>
                </div>
                <div class="estudio">
                    <li><img src="images/estudio-con-rab.jpg" alt="">
                        <div class="txt">
                            <h4>Alimenta tu Neshamá</h4>
                            <p>"Progamas de estudios pensados para cada uno en particular.
                                Participá como te sea mas cómodo, online o presencial, en grupo o personalizado. "
                            </p>
                        </div>
                    </li>
                </div>
                <div class="jupa">
                    <li><img src="images/jupa.jpg" alt="">
                        <div class="txt">
                            <h4> "Haz de tu hogar una morada para Hashem"</h4>
                            <p> Te preparamos para que llegues a este dia tan especial con santidad y plenitud.
                                Los acompañamos en la formacion de su hogar con charlas y actividades exclusivas para
                                parejas como ustedes.
                            </p>
                        </div>
                    </li>
                </div>
                <div class="jaguim">
                    <li><img src="images/roshana.webp" alt="">
                        <div class="txt">
                            <h4>viaja por el año</h4>
                            <p> LLega preparado a cada festividad. Historia, costumbres, fechas, recetas.. </p>
                        </div>
                    </li>
                </div>
                <div class="shiur">
                    <li><img src="images/shiur.jpg" alt="">
                        <div class="txt">
                            <h4>Rama femenina</h4>
                            <p> Seccion inspirada exclusivamente para ellas. Estudio, paseos, cocina, arte..</p>
                        </div>
                    </li>
                </div>
            </ul>
        </section>
        <section class="destacados-de-la-semana">
            <h3> Destacados de la semana</h3>
            <div class="curso1">
                <div class="amasado">
                 <a href="/productDetail">
                     <img src="images/jala_whats.jpg" alt="">
                    </a>
                </div>

                <div class="info">

                    <h6>Amasado de Jala Comunitario</h6>
                    <p class="publico"> Exclusivo mujeres</p>
                    <p class="detalles"> Actividad Presencial</p>
                    <p class="Fecha">Martes 30/08 </p>
                    <p class="horario"> 15 hs</p>
                    <p class="More">A cargo de Malka Jakobo</p>
                </div>
            </div>

            <div class="curso2">
                <div class="curso">
                    <img src="images/jala_whats.jpg" alt="">
                </div>
                <div class="info">
                    <h6>Amasado de Jala Comunitario</h6>
                    <p class="publico"> Exclusivo mujeres</p>
                    <p class="detalles"> Actividad presencial</p>
                    <p class="Fecha">Martes 30/08 </p>
                    <p class="horario"> 15 hs</p>
                    <p class="More">A cargo de Malka Jakobo</p>
                </div>
            </div>

            <div class="curso1">
                <div class="amasado">
                    <img src="images/jala_whats.jpg" alt="">
                </div>

                <div class="info">

                    <h6>Amasado de Jala Comunitario</h6>
                    <p class="publico"> Exclusivo mujeres</p>
                    <p class="detalles"> Actividad Presencial</p>
                    <p class="Fecha">Martes 30/08 </p>
                    <p class="horario"> 15 hs</p>
                    <p class="More">A cargo de Malka Jakobo</p>
                </div>
            </div>

            <div class="curso2">
                <div class="curso">
                    <img src="images/jala_whats.jpg" alt="">
                </div>
                <div class="info">
                    <h6>Amasado de Jala Comunitario</h6>
                    <p class="publico"> Exclusivo mujeres</p>
                    <p class="detalles"> Actividad presencial</p>
                    <p class="Fecha">Martes 30/08 </p>
                    <p class="horario"> 15 hs</p>
                    <p class="More">A cargo de Malka Jakobo</p>
                </div>
            </div>
        </section>

        <section class="scroll-fotos">
            <marquee direction="right" > 
            <img src="images/cena-mujeres.jpg" alt=""> 
            
            <img src="images/charla-parejas.jpg" alt="">
            
            <img src=images/estudio-con-rab.jpg" alt="">
            
            <img src="images/januka-calle.jpg" alt="">
            
            <img src="images/jupa.jpg" alt="">
            
            <img src="images/shiur.jpg" alt="">
            
            <img src="images/purim.jpg" alt="">
            
            <img src="images/viaje.jpg" alt="">
            
            <img src="public/images/mezuza.jpg" alt="">
            
            <img src="public/images/peguisha (2).jpg" alt="">
        </marquee>

        </section>


</main>


</html>