<!DOCTYPE html>
<html lang="en">

    <%- include ('./partials/head.ejs')%>
    
    <link rel="stylesheet" href="../css/estilos-productDetail.css">
    
    <title>Detalle de Actividades</title>
</head>


<body>
    <header>
        <%- include ('./partials/header.ejs')%>
        <%- include ('./partials/main-header.ejs')%>
    </header>
    <main>
        <section class="detalleArt">
            <div class="titulo">
                <h1>AMASADO DE JALA</h1>
                <!-- aca habria que poner una variable -->
            </div>
            <article class="articulo">
                <img src="/images/jala_whatsmod.jpg" alt="amasado" width="100%">
            </article>
        </section>
        <section class="priceArt">
            <div class="precio">
                <h4 class="precioTitulo">COSTO</h4>
                <p class="precioP">Sugerido $600</p>
                <select name="precioArt" id="precioArt">
                    <option value="600" selected>$600</option>
                    <option value="">$600</option>
                    <option value="other">Otro valor</option>
                    <input type="text">
                </select>
            </div>
            <div class="oferta">
                <h4 class="ofertaTitulo"></h4>
                <p class="ofertaP">Aceptamos tarjetas de crédito, débito, mercado pago y efectivo. Consulte por otros
                    medios de pago</p>
            </div>
        </section>
        <section class="actionsArt">
            <div class="botonesArt">
                <button class="buttonArt">INSCRIBIRSE AHORA</button>
                <button class="buttonArt">AGREGAR AL CARRITO
                </button>
            </div>
            <div class="accionesArt">
                <div class="favoritos">
                    <i class="far fa-heart"></i>
                    <p>Agregar a favoritos</p>
                </div>
                <div class="compartir">
                    <i class="fas fa-share-alt"></i>
                    <p>Compartir</p>
                </div>
            </div>
        </section>
        <section class="descrArt">
            <h2 class="descrArtTitulo">
                DESCRIPCION
            </h2>
            <p>Esta actividad promueve la transmisión de valores entre las distintas generaciones, llama a reflexionar
                sobre la importancia de la mesa compartida y revaloriza los rituales que generan paz y armonía. Además,
                plantea generar un momento que puede ser vivido como recreativo, religioso o simplemente un momento en
                familia, que se abre en la ciudad en sintonía con muchas otras ciudades en todo el mundo, unidas por la
                misma experiencia. Asimismo busca generar un espacio de encuentro entre mujeres, donde abuelas, madres y
                nietas pueden compartir juntas un momento enriquecedor.
            </p>
            <p>
                Cuando va a ser?
                El Jueves 4 de Agosto a las 14 horas</p>
            <p>
                Como puedo participar?
                En forma presencial o por zoom desde tu casa, escuela, oficina!
            </p>
        </section>
     <footer class="footerArt">
            <div class="footer-img">
                <img src="images/cena-mujeres.jpg" alt="cena-mujeres" width="100%">
            </div>
            <div class="footer-img">
                <img src="images/januka-calle.jpg" alt="januka" width="100%">
            </div>
            <div class="footer-img">
                <img src="images/purim.jpg" alt="purim" width="100%">
            </div>
            <div class="footer-img">
                <img src="images/estudio-con-rab.jpg" alt="shiur-rab" width="100%">
            </div>
        </footer>
    </main>
     <footer>
        <%- include ('./partials/footer.ejs')%>
    </footer>
</body>

</html>