<!DOCTYPE html>
<html lang="en">
<<<<<<< HEAD

=======
>>>>>>> 4988c2a8c6cf4a84bccf4ab7fa52fb2a0488f54a
<head>
    <%- include ('./partials/head.ejs')%>

    <title>Suscripciones</title>
</head>
<body class="tipografia">
    <header class="encabezado">
        <p class="bh">B"H</p>
        <img src="/images/logotransp.png" alt="logo JABA" class="logo">
        <button type="button" class="cerrarVentana">      
            <i class="fa-solid fa-xmark"></i>
        </button>

  
      
        <h2 class="titulo">Mis Suscripciones en curso</h2>
    </header>
    <main class="principal">
        <div class="curso1">
            <i class="fa-solid fa-menorah"></i>
            <p>Curso</p> aca va a decir el tipo de curso. 
            Tipos: Actividad / Curso / Taller 
        </div>
        <div class="formu2">
            <label for="clave">CONTRASEÑA</label>
            <br><br>
            <input type="text" name="clave" id="clave" class="celda"> 
        </div>
        <div class="olvido">
            <a href="#" class="olvidolink">¿Olvidaste la contraseña?</a>
        </div>
        <div class="ingresar">
            <button type="submit" class="boton-ingresar">INGRESAR</button>
        </div>
        <div class="recordar">
            <input type="checkbox" name="recordar" id="recordar">
            <label for="recordar">RECORDAR MIS DATOS</label>
        </div>
    </main>
    <footer class="footer-login">
        <label for="registro" class="registro">¿AÚN NO ESTÁS REGISTRADO?</label>
        <br><br>
        <a href="/register" class="registro-link">CREÁ TU CUENTA AQUÍ</a>
    </footer>
</body>




</html>