<!DOCTYPE html>
<html lang="en">

    <%- include ('partials/head.ejs')%>
    <title>Pagina principal de Actividades</title>
</head>
<body>
    
    <footer>
        <div class="footer-bar-left">
            <div class="iconofoot-whatsapp">
                <!--   <i class="fab fa-whatsapp-square"></i> -->
                <i class="fab fa-whatsapp"></i>
            </div>
            <div class="iconofoot">
                <i class="fas fa-phone-alt"></i>
               <!--  <i class="fas fa-phone-square-alt"></i> -->
            </div>
            <div class="iconofoot">
                <i class="fas fa-envelope"></i>
            </div>
            <div class="iconofoot-map-marker">
                <i class="fas fa-map-marker-alt"></i>
            </div>
        </div>
        <div class="footer-bar-rigth">
            <div class="iconofoot">
                <!-- <i class="fab fa-instagram-square"></i> -->
                <i class="fab fa-instagram"></i>
                
            </div>
            <div class="iconofoot">
                <i class="fab fa-twitter"></i>
            </div>
            <div class="iconofoot">
                <i class="fab fa-facebook-square"></i>
            </div>
            <div class="iconofoot">
                <i class="fab fa-facebook-messenger"></i>
            </div>  
        </div>
    </footer>
</body>
</html>