<!DOCTYPE html>
<html lang="en">

<head>
    <%- include ('./partials/head.ejs')%>
    <link rel="stylesheet" href="../css/estilos-cart.css">
    <title>Carrito</title>
</head>
<body class="tipografia">
    <header class="encabezado">
        <p class="bh">B"H</p>
        <img src="/images/logotransp.png" alt="logo JABA" class="logo">
        <button type="button" class="cerrarVentana">      
            <i class="fa-solid fa-xmark"></i>
        </button>
<br><br><br>
        <h2 class="titulo">Mis Suscripciones en curso</h2>
    </header>
    <main class="principal">
        <div class="curso1">
            <i class="fa-solid fa-menorah"></i>
            <p>Curso</p> aca va a decir el tipo de curso. 
            Tipos: Actividad / Curso / Taller 
        </div>
        <div class="formu2">
            <label for="clave">CONTRASEÑA</label>
            <br><br>
            <input type="text" name="clave" id="clave" class="celda"> 
        </div>
        
        
        
    </main>
    
</body>




</html>