<!DOCTYPE html>
<html lang="en">

<head>
    <%- include ('./partials/head.ejs')%>
        <link rel="stylesheet" href="../css/estilos-register.css">
        <title>Registro</title>
</head>

<body class="tipografia">
    <headerLogin class="encabezado">
        <p class="bh">B"H</p>
        <img src="/images/logotransp.png" alt="logo JABA" class="logoRegister" width="50%">

        <button type="button" class="cerrarVentana">
            <i class="fa-solid fa-xmark"></i>
        </button>



        <h2 class="titulo">CREA TU CUENTA EN JABA</h2>
    </headerLogin>
    <main class="principal">
        <div class="formu1">
            <label for="nombre">NOMBRE</label>
            <br><br>
            <input type="text" name="nombre" id="nombre" class="celda">
        </div>
        <div class="formu1">
            <label for="apellido">APELLIDO</label>
            <br><br>
            <input type="text" name="apellido" id="apellido" class="celda">
        </div>
        <div class="formu1">
            <label for="email">E-MAIL</label>
            <br><br>
            <input type="email" name="email" id="email" class="celda">
        </div>
        <div class="formu2">
            <label for="clave">CONTRASEÑA</label>
            <br><br>
            <input type="password" name="clave" id="clave" class="celda">
        </div>
        <div class="formu2">
            <label for="clave-control">REPETIR CONTRASEÑA</label>
            <br><br>
            <input type="password" name="clave-control" id="clave-control" class="celda">
        </div>
        <div class="formu2">
            <label for="fecha-nac">FECHA DE NACIMIENTO</label>
            <br><br>
            <input type="date" name="fecha-nac" id="fecha-nac" class="celda">
        </div>
        <div class="formu2">
            <label for="fecha-nac-heb">FECHA DE NACIMIENTO EN HEBREO (opcional)</label>
            <br><br>
            <input type="text" name="fecha-nac-heb" id="fecha-nac-heb" class="celda">
        </div>
        <div class="formu2">
            <label for="genero">GENERO</label>
            <br><br>
            <input type="text" name="genero" id="genero" class="celda">
        </div>
        <div class="formu2">
            <label for="pais">PAIS DE RESIDENCIA</label>
            <br><br>
            <select type="select" name="pais" id="pais" class="celda">
                <option value="arg" selected>Argentina</option>
                <option value="otro">Otro país</option>
            </select>
        </div>
        <div class="formu2">
            <label for="ciudad">CIUDAD</label>
            <br><br>
            <select type="select" name="ciudad" id="ciudad" class="celda">
                <option value="caba" selected>Ciudad de Buenos Aires</option>
                <option value="gban">Gran Buenos Aires zona norte</option>
                <option value="gbao">Gran Buenos Aires zona oeste</option>
                <option value="gbas">Gran Buenos Aires zona sur</option>
                <option value="interior">Interior del país</option>
            </select>
        </div>
        <div class="formu2">
            <label for="barrio">BARRIO (opcional)</label>
            <br><br>
            <input type="text" name="barrio" id="barrio" class="celda">
        </div>
        <div class="botones">
            <div class="ingresar">
                <button type="submit" class="boton-ingresar">INGRESAR</button>
            </div>
            <div class="ingresar">
                <button type="reset" class="boton-reset">BORRAR</button>
            </div>
        </div>
    </main>
    <footer class="footer-register">
        <label for="login" class="registro">¿YA TENÉS UNA CUENTA?</label>
        <br><br>
        <a href="/login" class="registro-link">INGRESÁ</a>
    </footer>
</body>

</html>