 <footer>
    <div class="info-gral">
        <p>JABA Judaismo Activo en Buenos Aires.

            Nuestro objetivo es difundir enseñanzas judaicas, ofreciendo variadas propuestas con el fin de atraer e
            influenciar en todo aspecto de la vida diaria. </p>
    </div>
    <div class="footer-bar-left">
        <div class="social-section">
            <div class="iconofoot">
                <i class="fas fa-map-marker-alt"></i>
            </div>
            <div class="iconos-redes-p">
                <p class="iconos-redes-p-texto">Serrano 770</p>
            </div>
        </div>
        <div class="social-section">
            <div class="iconofoot">
                <i class="fab fa-whatsapp"></i>
            </div>
            <div class="iconos-redes-p">
                <p class="iconos-redes-p-texto">+54-911-5544-0770</p>
            </div>
        </div>
        <div class="social-section">
            <div class="iconofoot">
                <i class="fas fa-phone-alt"></i>
            </div>
            <div class="iconos-redes-p">
                <p class="iconos-redes-p-texto">+54-11-4455-0770</p>
            </div>
        </div>
        <div class="social-section">
            <div class="iconofoot">
                <i class="fas fa-envelope"></i>
            </div>
            <div class="iconos-redes-p">
                <p class="iconos-redes-p-texto">jaba@gmail.com</p>
            </div>
        </div>

    </div>

    </div>
    <div class="copyright">
        <p>Copyright © 2022 - Todos los derechos reservados</p>
    </div>
    <div class="footer-bar-rigth">
        <div class="social-section">
            <div class="iconofoot">
                <i class="fab fa-instagram"></i>
            </div>
            <div class="iconos-redes-p">
                <p class="iconos-redes-p-texto"> instagram.com/jaba</p>
            </div>

        </div>
        <div class="social-section">
            <div class="iconofoot">
                <i class="fab fa-twitter"></i>
            </div>
            <div class="iconos-redes-p">
                <p class="iconos-redes-p-texto">@jaba</p>
            </div>
        </div>
        <div class="social-section">
            <div class="iconofoot">
                <i class="fab fa-facebook-square"></i>
            </div>
            <div class="iconos-redes-p">
                <p class="iconos-redes-p-texto">facebook.com/jaba</p>
            </div>
        </div>
        <div class="social-section">
            <div class="iconofoot">
                <i class="fab fa-facebook-messenger"></i>
            </div>
            <div class="iconos-redes-p">
                <p class="iconos-redes-p-texto">http://m.me/jaba</p>
            </div>
        </div>
    </div>

</footer>
