

<header>
     

    <p class="b'h">B"H</p>
    <div class="logo"> <a href="/"><img src="/images/logotransp.png" alt="logo JABA" class="logo"></a></div>
    <section class="iconos">
        
        <div class="home"><a href="/" ><i class="fas fa-home"></i></a></div>

        <div class="cart"><a href="/cart"><i class="fa-solid fa-cart-arrow-down"></i></i></a></div>
        
        <div class="login"><a href=/login> <i class="far fa-user-circle"></i> </a></div>
        
        <div class="register"><a href="/register"><i class="fas fa-address-card"></i></a></div>
    </section>

</header>




