

<header>
     

    <p class="b'h">B"H</p>
    <div class="logo"> <img src="/images/logotransp.png" alt="logo JABA" class="logo"></div>
    <section class="iconos">
        <div class="login"><a href=/login> <i class="far fa-user-circle"></i> </a></div>
        
        <div class="home"><a href=/index><i class="fas fa-home"></i></a></div>
        
        <div class="barrabusqueda"><input type="text" placeholder=></div>
        
        <div class="lupa"> <i class="fas fa-search"></i></div>
        
        <div class="register"><a href="/register"><i class="fas fa-address-card"></i></a></div>
    </section>

</header>




