<section class "main-header"> 
    <nav class="botones">
        <ul class="categorias">
            <a href="">categoria</a>
            <a href="">categoria</a>
            <a href="">categoria</a>
            <a href="">categoria</a>
            <a href="">categoria</a>
        </ul>
        <nav class="menu-cel"><i class="fas fa-bars"></i></nav>
        <section class="datos-semanales">
            <img src="images/velas.webp" alt="velas" class="img-velas">
            <p class="semana">Semana Parshat Reé</p>
            <p class="semana">Horario encendido de Velas</p>
            <p class="semana">18:00hs</p>
        </section>
    </section>