<!DOCTYPE html>
<html lang="en">

<head>
    <%- include ('../partials/head.ejs')%>
        <link rel="stylesheet" href="../css/estilos-login.css">
        <title>Ingreso</title>
</head>

<body class="tipografia">
    <headerLogin class="encabezado">
        <p class="bh">B"H</p>
        <img src="/images/logotransp.png" alt="logo JABA" class="logoLogin" width="50%">

        <button type="button" class="cerrarVentana">
            <i class="fa-solid fa-xmark"></i>
        </button>



        <h2 class="titulo">INGRESO A JABA</h2>
    </headerLogin>
    <main class="principal">
        <div class="text-danger">
            <% if(locals.error){ error.forEach(errors=>{%>
                <p style="color:rgb(245, 232, 50)">
                    <%= errors.msg %>
                </p>
                <%}) }%>
        </div>
        <form action="/login" method="post">
            <div class="formu1">
                <label for="usuario">USUARIO O CORREO ELECTRÓNICO</label>
                <br><br>
                <input type="email" name="email" id="usuario" class="celda">
            </div>

            <div class="formu2">

                <label for="clave">CONTRASEÑA</label>
                <br><br>
                <input type="password" name="contrasenia" id="clave" class="celda">
            </div>
            <div class="olvido">
                <a href="#" class="olvidolink">¿Olvidaste la contraseña?</a>
            </div>
            <div class="ingresar">
                <button type="submit" class="boton-ingresar">INGRESAR</button>
            </div>
            <div class="recordar">
                <input type="checkbox" name="recordar" id="recordar">
                <label for="recordar">RECORDAR MIS DATOS</label>
            </div>
        </form>
    </main>
    <footer class="footer-login">
        <label for="registro" class="registro">¿AÚN NO ESTÁS REGISTRADO?</label>
        <br><br>
        <a href="/register" class="registro-link">CREÁ TU CUENTA AQUÍ</a>
    </footer>
</body>

</html>