<!DOCTYPE html>
<html lang="en">
<head>
    <%- include ('../partials/head.ejs')%>

    <title>Perfil del Usuario</title>
</head>

<%- include ('../partials/header.ejs')%>
<%- include ('../partials/main-header.ejs')%>
<body>

    aca va el perfil del usuario
</body>
<%- include ('../partials/footer.ejs')%>
</html>